@page "/"
@using Microsoft.Extensions.Localization
@using Microsoft.EntityFrameworkCore
@using Wave.Data

@rendermode InteractiveServer
@attribute [StreamRendering]
@inject IDbContextFactory<ApplicationDbContext> ContextFactory;
@inject IStringLocalizer<Home> Localizer

<PageTitle>@(TitlePrefix + Localizer["Title"])</PageTitle>

<h1 class="text-3xl lg:text-5xl font-light mb-6 text-primary">@Localizer["Title"]</h1>

<!-- TODO: somehow get status message -->

@if (Busy) {
    <div class="flex place-content-center h-full text-primary">
        <span class="loading loading-spinner loading-lg"></span>
    </div>
} else {
    @if (Articles.FirstOrDefault() is {} featured) {
        <article class="mb-6">
            <a href="/article/@featured.Id">
                <div class="hero bg-secondary text-secondary-content">
                    <div class="hero-content">
                        <div class="flex flex-col space-y-6 my-3">
                            <h2 class="text-2xl lg:text-4xl leading-8 font-bold">
                                @featured.Title<br />
                                <small class="text-sm">@featured.PublishDate.ToString("g")</small>
                            </h2>
                            <p class="line-clamp-6">
                                @featured.Body[..Math.Min(400, featured.Body.Length)]
                            </p>
                            <div class="flex">
                                <ProfilePill Profile="featured.Author" />
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </article>
    } else {
        <h2 class="text-2xl lg:text-4xl mb-6">@Localizer["NoArticles_Title"]</h2>
        <p>@Localizer["NoArticles_Message"]</p>
    }

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-8 gap-y-4 mb-6">
        @foreach (var article in Articles.Skip(1)) {
            <ArticleTile Article="article" />
        }
    </div>
}

@if (HasMore) {
    <div class="flex place-content-center">
        <button class="btn btn-wide" @onclick="More">@Localizer["More"]</button>
    </div>
}

@code {
    [CascadingParameter(Name = "TitlePrefix")]
    private string TitlePrefix { get; set; } = default!;

    private List<Article> Articles { get; } = [];
    private bool HasMore { get; set; }
    private bool Busy { get; set; } = true;

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (firstRender) {
            try {
                await using var context = await ContextFactory.CreateDbContextAsync();

                var now = DateTimeOffset.UtcNow;
                var query = context.Set<Article>()
                    .Include(a => a.Author)
                    .Where(a => a.Status >= ArticleStatus.Published && a.PublishDate <= now)
                    .OrderByDescending(a => a.PublishDate);
                var articles = await query.Take(11).ToListAsync();
                HasMore = (await query.CountAsync()) > 11;
                Articles.AddRange(articles);
            } finally {
                Busy = false;
                await InvokeAsync(StateHasChanged);
            }
        }
    }

    private async Task More() {
        try {
            Busy = HasMore = true;
            await using var context = await ContextFactory.CreateDbContextAsync();

            var now = DateTimeOffset.UtcNow;
            var query = context.Set<Article>()
                .Include(a => a.Author)
                .Where(a => a.Status >= ArticleStatus.Published && a.PublishDate <= now)
                .OrderByDescending(a => a.PublishDate)
                .Skip(Articles.Count);
            var articles = await query.Take(10).ToListAsync();
            Articles.AddRange(articles);
            HasMore = (await query.CountAsync()) > 10;
        } finally {
            Busy = false;
        }
    }

}