@page "/Account/Manage"

@using Microsoft.AspNetCore.Identity
@using Wave.Data
@using System.ComponentModel.DataAnnotations

@inject IdentityUserAccessor UserAccessor
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IStringLocalizer<Index> Localizer

<PageTitle>@Localizer["Title"]</PageTitle>

<StatusMessage Message="@Message" />

<div class="flex gap-4 flex-wrap">
	<section class="max-w-xs" Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
		<h2 class="text-2xl lg:text-4xl mb-3">@Localizer["Title"]</h2>
		
        <EditForm FormName="update-profile" Model="@Model" OnValidSubmit="@SubmitFullNameUpdate" method="post" Enhance="false">
            <DataAnnotationsValidator />
            <label class="form-control w-full">
                <div class="label">
                    <span class="label-text">@Localizer["FullName_Label"]</span>
                </div>
                <InputText class="input input-bordered w-full" maxlength="64" autocomplete="name"
                           @bind-Value="@Model.FullName" placeholder="@Localizer["FullName_Placeholder"]" />
                <div class="label">
                    <span class="label-text-alt text-error">
                        <ValidationMessage For="() => Model.FullName" />
                    </span>
                </div>
            </label>
            <button type="submit" class="btn btn-primary w-full">
                @Localizer["FullName_Submit"]
            </button>
        </EditForm>

        <label class="form-control w-full">
			<div class="label">
				<span class="label-text">@Localizer["UserName_Label"]</span>
			</div>
			<input class="input input-bordered w-full" type="text" value="@UserName"
			       placeholder="Please choose your username." disabled/>
		</label>
    </section>
	<section>
		<h2 class="text-2xl lg:text-4xl mb-3">@Localizer["Permissions"]</h2>
        <ul>
	        <li class="flex gap-2 content-center">
                <AuthorizeView Policy="ArticleEditPermissions">
			        <Authorized>
				        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-success">
					        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				        </svg>
			        </Authorized>
			        <NotAuthorized>
				        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-error">
					        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				        </svg>
			        </NotAuthorized>
		        </AuthorizeView>
				@Localizer["Permission_ArticleEdit"]
	        </li>
			<li class="flex gap-2 content-center">
				<AuthorizeView Policy="ArticleReviewPermissions">
			        <Authorized>
				        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-success">
					        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				        </svg>
			        </Authorized>
			        <NotAuthorized>
				        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-error">
					        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				        </svg>
			        </NotAuthorized>
		        </AuthorizeView>
                @Localizer["Permission_ArticleReview"]
	        </li>
			<li class="flex gap-2 content-center">
				<AuthorizeView Policy="ArticleDeletePermissions">
			        <Authorized>
				        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-success">
					        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				        </svg>
			        </Authorized>
			        <NotAuthorized>
				        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-error">
					        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
				        </svg>
			        </NotAuthorized>
		        </AuthorizeView>
                @Localizer["Permission_ArticleDelete"]
	        </li>
			<li class="flex gap-2 content-center">
                <AuthorizeView Policy="RoleAssignPermissions">
                    <Authorized>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-success">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </Authorized>
                    <NotAuthorized>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-error">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                    </NotAuthorized>
                </AuthorizeView>
                @Localizer["Permission_RoleAssign"]
	        </li>
        </ul>
	</section>
</div>

@code {
	private string? Message { get; set; }
    [SupplyParameterFromForm]
    private InputModel Model { get; set; } = new();
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private ApplicationUser User { get; set; } = default!;
    private string UserName { get; set; } = string.Empty;
    
    protected override async Task OnInitializedAsync() {
        UserName = UserManager.GetUserName(HttpContext.User)!;
        User = await UserAccessor.GetRequiredUserAsync(HttpContext);
        Model.FullName ??= User.FullName;
    }

	private async Task SubmitFullNameUpdate() {
        User.FullName = Model.FullName?.Trim();
        await UserManager.UpdateAsync(User);
        await SignInManager.RefreshSignInAsync(User);
        Message = Localizer["FullName_Success"];
    }

    private sealed class InputModel {
        [MaxLength(64)]
        public string? FullName { get; set; }
    }
}
